* {
    margin: 0;
    padding: 0;
    border: 0;
}
.centrar {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgb(63, 130, 230),rgb(1, 55, 201));
}
.centrar2 {
    display: flex;
    justify-content: center;
}
.movil {
    margin-top: 100px;
    width: 400px;
    margin-bottom: 120px;
    background: linear-gradient(rgb(92, 90, 231),rgb(5, 2, 148));
    position: relative;
}
.circulo {
    height: 200px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.logo {
    width: 150px;
}
.cargador-padre{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity:0.8;
    background-color:#ffffffa6;
    top:0px;
    left:0;
    z-index:1031;
}
.centrar-cargador {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cargador {
    border: 8px solid #7434db;
    border-top: 8px solid #f1c158;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    animation: girar 2s linear infinite;
}
.logo-cargador {
    width: 190px;
}
.puntero {
    cursor: pointer;
}
.logo-menu {
    width: 100px;
}
.azul{
    color: rgb(5, 2, 148);
}
.bg-azul{
    background-color: rgb(5, 2, 148);
}
.radio-1 {
    border-radius: 20px;
}
.cuadro-menu {
    height: 150px;
    width: 150px;
}
.zoom{
    transition: transform .2s; 
}
.zoom:hover {
    transform: scale(1.1);
}
.absoluto {
    width: 400px;
    position: absolute;
    z-index: 1030;
}
.contenido {
    margin-top: 90px;
}
.contenido-2 {
    margin-top: 30px;
}
.logo-check {
    font-size: 180px;
}
.imgNino{
    width: 120px;
    border-radius: 50%;
}
@media (max-width: 1920px) {
    .movil {
        zoom: 90%;
    }
}
@media (max-width: 1600px) {
    .movil {
        zoom: 64%;
    }
}
@keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* Calendario */
table {
    table-layout: fixed;
}
.radio-2 {
    border-radius: 15px;
}